@using GreenTech.Domain.Dtos


<h1>Aqui é a tela da area do usuario</h1>

<a class="btn btn-info" asp-action="CadastroResiduo" asp-controller="Usuario">CadastroResiduo</a>
<h1></h1>
<a class="btn btn-info" asp-action="CadastroDados" asp-controller="Usuario">CadastroDados</a>
<h1></h1>
<a class="btn btn-info" asp-action="CadastroEndereco" asp-controller="Usuario">CadastroEndereco</a>
<h1></h1>
<a class="btn btn-info" asp-action="VerMeusResiduos" asp-controller="Usuario">VerMeusResiduos</a>
<h1></h1>
<a class="btn btn-info" asp-action="VerDados" asp-controller="Usuario">VerDados</a>
<h1></h1>
<a class="btn btn-info" asp-action="VerEndereco" asp-controller="Usuario">VerEndereco</a>

